

/* Share Button */

.share-button {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:11px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 58px;
	text-decoration:none;
	text-shadow:0px 0px 0px #1570cd;
}
.share-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.share-button:active {
	position:relative;
	top:1px;
}

/* Download Button */

.download-button {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #f060e9 5%, #b45ed1 100%);
	background-color:#f060e9;
	border-radius:11px;
	border:1px solid #e051db;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 58px;
	text-decoration:none;
	text-shadow:0px 0px 0px #1570cd;
}
.download-button:hover {
	background:linear-gradient(to bottom, #b45ed1 5%, #f060e9 100%);
	background-color:#b45ed1;
}
.download-button:active {
	position:relative;
	top:1px;
}

/* Save Button */
.save-btn {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:19px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.save-btn:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.save-btn:active {
	position:relative;
	top:1px;
}

