/* @import 'css/buttons.css';
@import 'css/font-select-box.css';
@import 'css/gallery-serch-nav.css'; */

/* VARS */

:root {
    /* body color + scroll bar*/
    --clr0: #22252c;
    /* gallery bg color */
    --clr1: #383b42;
    /* */
    --clr2: #969aea;
    /* haeder text color */
    --clr3: #ffffff;
}

/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr0);
    padding: 1.125rem;
    background-image: url(/images/frame.png);
    background-size: cover;
    height: 100vh;
    
    
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

.btn {
    margin: 5px;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor: pointer;
}

.btn:hover{
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
}
.btn.btn-delete:hover{
    background:linear-gradient(to bottom, #c65353 5%, #d12727 100%);
}

/* LAYOUT */

/* HEADER */
.main-header {
    background: rgb(15, 155, 179);
    background: linear-gradient(90deg, rgba(15, 155, 179, 1) 40%, rgba(48, 187, 116, 1) 60%);
    color: var(--clr3);
    border-radius: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Chango', cursive;
}

.main-header .main-nav a {
    color: var(--clr3);
    font-size: 1.3125rem;
    font-weight: 500;
    text-align: left;
    min-width: 130px;
    height: 70px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -5px 0 var(--clr4);
    color: var(--clr4);
}

.main-header .main-nav a.active {
    box-shadow: inset 0px -5px 0 var(--clr1);
    color: var(--clr1);
    cursor: default;
}

/* LOGO */
.logo-img{
    width: 12%;
}


/* GALLERY SERCH SECTION */

.gallery-header {
    background-color: var(--clr1);
    height: 7.8125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* IMAGES GALLERY */
/* GALLERY CONTAINER */
.gallery-container {
    padding: 1rem;
    background-color: var(--clr1);
    border-radius: 15px;
}

.gallery-images.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 10px;
    height: 90vh;
}

.gallery-img {
    border-radius: 15px;
}


/* SCROLL BAR */
/* width */
.gallery-images {
    overflow: scroll;
    overflow-x: hidden;
}

.gallery-images::-webkit-scrollbar {
    width: 10px;
    background-color: var(--clr0);
}

/* Track */
.gallery-images::-webkit-scrollbar-track {
    border-radius: 20px;
}

/* Handle */
.gallery-images::-webkit-scrollbar-thumb {
    width: 10px;
    height: 1px;
    background: linear-gradient(90deg, rgba(15, 155, 179, 1) 40%, rgba(48, 187, 116, 1) 60%);
    border-radius: 10px;
}


/* EDIT SECTION */

/* CANVAS */

.main-edit-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 4rem;
}

.canvas-container {
    margin-bottom: 10px;
}

/* NOOOOO */
#meme-canvas {
    background-color: rgb(191, 174, 174);
    border-radius: 4.3125rem;
}

.meme-editor {
    background: linear-gradient(90deg, rgba(41, 43, 43, 0.861) 40%, rgba(47, 48, 47, 0.828) 60%);
    border-radius: 4.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.text-line {
    padding-left: 10px;
    height: 2.5rem;
    width: 17rem;
    display: block;
    border-radius: 0.8rem;
}

/* FOOTER */

.main-layout-footer {
    text-align: center;
    font-size: 1rem;
    height: 29px;
    display: flex;
    place-content: center;
    align-items: end;
    color: rgb(119, 117, 117);
}

.editor.row-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    background: linear-gradient(90deg, rgb(15 155 179 / 76%) 40%, rgb(48 187 116 / 76%) 60%);
    margin-bottom: 0.5rem;
}

.sticker{
    font-size: 2rem;
    cursor: pointer;
}


/* List Helper */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 53px;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
    border: 0;
    position: relative;
}
#colorPicker::-webkit-color-swatch{
    border-radius: 0.5rem;
    border: none;
}
.row-3-2 {
    display: flex;
    align-items: center;
}

.font-select{
    border-radius: 7px;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.display-none{
    display: none;
}


/* ICONS */
.icon {
    width: 2.56rem;
    height: 2.8rem;
}

.editor.row-3 {
    display: flex;
    flex-direction: column;
}

.menu-toggle-btn {
    display: none;
}
.main-screen {
    position: fixed;
    inset: 0;
    background-color: #000;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;

    opacity: 0;

    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1000px) {
    .main-edit-container {
        padding-top: 1rem;
        gap: 0.5rem;
    }
    .canvas-container{
        height: 500px;
    }
}

@media (max-width: 650px) {
    .main-edit-container{
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 0.5rem;
    }
    .main-header .main-nav a {
        color: var(--clr3);
        font-size: 1.3125rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .logo-img {
        width: 28%;
    }
    .menu-toggle-btn {
        display:inline;
    }
    .gallery-header-1{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }

    body{
        padding: 5px;
    }
    .main-nav ul {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 0;
        right: 0;
        flex-direction: column-reverse;
        height: 100vh;

        min-width: 200px;
        background: #282a2ab2;
        border-inline-start: 1px solid #4b4b4c;
        transition: max-height 0.6s, box-shadow 0.6s;

        transform: translatex(100%);
        transition: transform .6s;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    .main-header .main-nav li:hover {
        color: var(--clr1);
        background: #1e1e1ef7;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 var(--clr1);
    }
    .main-header .main-nav a:hover {
        box-shadow: inset 0px -5px 0 #45dbca;
        color: #45dbca;
    }

    .main-header .main-nav li {
        padding: 2rem 0;
        border-bottom: 1.5px solid rgb(27, 25, 25);
        width: 100%;
        text-align: center;
    }
    
    .menu-toggle-btn {
        background-color: inherit;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 550px) {
    .canvas-container{
        height: 400px;
    }
}

@media (max-width: 445px) {
    .canvas-container{
        height: 350px;
    }
    .editor.row-5{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


}

@media (max-width: 400px) {
    html{
        font-size: 10px;
    }
    .gallery-header-2 .gallery-nav a{
        padding: 0.8rem;
        min-width: 0;
    }
    .gallery-serch-input{
        margin-top: -2rem;
    }

}

/* ////////////////////////////////////////
buttonos file */


/* Share Button */

.share-button {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:11px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 58px;
	text-decoration:none;
	text-shadow:0px 0px 0px #1570cd;
}
.share-button:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.share-button:active {
	position:relative;
	top:1px;
}

/* Download Button */

.download-button {
	box-shadow:inset 0px 0px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #f060e9 5%, #b45ed1 100%);
	background-color:#f060e9;
	border-radius:11px;
	border:1px solid #e051db;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:11px 58px;
	text-decoration:none;
	text-shadow:0px 0px 0px #1570cd;
}
.download-button:hover {
	background:linear-gradient(to bottom, #b45ed1 5%, #f060e9 100%);
	background-color:#b45ed1;
}
.download-button:active {
	position:relative;
	top:1px;
}

/* Save Button */
.save-btn {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:19px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.save-btn:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.save-btn:active {
	position:relative;
	top:1px;
}

/* ////////////////////////////////////////
font file */
.font-label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

.font-select {
    font-size: .9rem;
    padding: 2px 5px;
}

/* ////////////////////////////////////////
font file */

.gallery-header-1 {
    background-color: var(--clr1);
    height: 7.8125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-header-2 {
    font-family: 'Chango', cursive;
    height: 3.8125rem;
    margin-bottom: 1.5rem;
}

.gallery-header-2 .gallery-nav a {
    color: var(--clr3);
    font-size: 1.3125rem;
    font-weight: 500;
    text-align: left;
    min-width: 130px;
    height: 70px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-header-2 .gallery-nav a:hover {
    box-shadow: inset 0px -5px 0 var(--clr4);
    color: var(--clr4);
}

.gallery-header-2 .gallery-nav a.active {
    box-shadow: inset 0px -5px 0 var(--clr1);
    color: var(--clr1);
    cursor: default;
}

.gallery-serch-input{
    height: 40px;
    max-width: 30rem;
    background-color: #22252C;
    border-radius: 3rem;
    padding-left: 10px;
    width: 100%;
    float: inline-start;
    float: left;
    color: #ffffff;
}