@import './buttons.css';
@import './font-select-box.css';
@import './gallery-serch-nav.css';

/* VARS */

:root {
    /* body color + scroll bar*/
    --clr0: #22252c;
    /* gallery bg color */
    --clr1: #383b42;
    /* */
    --clr2: #969aea;
    /* haeder text color */
    --clr3: #ffffff;

    --clr4: #000b2b;
    /* border color  */
    --clr5: #e1e0e0;
    /* card border color */
    --clr6: #c2c2c2;

    /* bp */
    --s: 600px;
    --m: 740px;
    --l: 980px;
}

/* BASE */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--clr0);
    padding: 1.125rem;
    background-image: url(/images/frame.png);
    background-size: cover;
    height: 100vh;
    
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
}

p {
    margin: 0 0 1em;
}

.btn {
    margin: 5px;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* LAYOUT */

/* HEADER */
.main-header {
    background: rgb(15, 155, 179);
    background: linear-gradient(90deg, rgba(15, 155, 179, 1) 40%, rgba(48, 187, 116, 1) 60%);
    color: var(--clr3);
    border-radius: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Chango', cursive;
}

.main-header .main-nav a {
    color: var(--clr3);
    font-size: 1.3125rem;
    font-weight: 500;
    text-align: left;
    min-width: 130px;
    height: 70px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-nav a:hover {
    box-shadow: inset 0px -5px 0 var(--clr4);
    color: var(--clr4);
}

.main-header .main-nav a.active {
    box-shadow: inset 0px -5px 0 var(--clr1);
    color: var(--clr1);
    cursor: default;
}

/* LOGO */
.logo-img{
    width: 12%;
}


/* GALLERY SERCH SECTION */

.gallery-header {
    background-color: var(--clr1);
    height: 7.8125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* IMAGES GALLERY */
/* GALLERY CONTAINER */
.gallery-container {
    padding: 1rem;
    background-color: var(--clr1);
    border-radius: 15px;
}

.gallery-images.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 10px;
}

.gallery-img {
    border-radius: 15px;
}


/* SCROLL BAR */
/* width */
/* .gallery-images {
    overflow: scroll;
    overflow-x: hidden;
}

.gallery-images::-webkit-scrollbar {
    width: 10px;
    background-color: var(--clr0);
} */

/* Track */
/* .gallery-images::-webkit-scrollbar-track {
    border-radius: 20px;
} */

/* Handle */
/* .gallery-images::-webkit-scrollbar-thumb {
    width: 10px;
    background: red;
    border-radius: 10px;
} */


/* EDIT SECTION */

/* CANVAS */

.main-edit-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(520px,1fr));
    justify-items: center;
    padding-top: 5rem;
    padding-bottom: 0;
    gap: 10px;
    height: 80%;
    
}

.canvas-container {
    margin-bottom: 10px;
}

/* NOOOOO */
#meme-canvas {
    background-color: rgb(191, 174, 174);
    border-radius: 4.3125rem;

}

.meme-editor {
    /* height: 37.125rem; */
    background-color: var(--clr1);
    /* width: 34rem; */
    border-radius: 4.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.text-line {
    padding-left: 10px;
    height: 2.5rem;
    width: 17rem;
    display: block;
    border-radius: 0.8rem;
}

/* FOOTER */

.main-layout-footer {
    text-align: center;
    font-size: 1rem;
    height: 29px;
    display: flex;
    place-content: center;
    align-items: end;
    color: rgb(119, 117, 117);
}

/* List Helper */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 55px;
    height: 53px;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;
    border: 0;
    position: relative;
}
#colorPicker::-webkit-color-swatch{
    border-radius: 0.5rem;
    border: none;
}
.row-3-2 {
    display: flex;
    align-items: center;
}

.font-select{
    border-radius: 7px;
}

/* #swatch{
    background: white;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
}
  
#swatch .info{
    padding: 1em;
}
  
#swatch h1{
    margin: 0;
    text-transform: uppercase;
}
  
#swatch h2{
    font-weight: normal;
    margin: 0;
}
  
input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 15em;
    padding: 0;
    width: 15em;
}
  
*:focus{
    border-radius: 0;
    outline: none;
}
  
::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
}
  
::-moz-color-swatch,
::-moz-focus-inner{
    border: 0;
}
  
::-moz-focus-inner{
    padding: 0;
} */

/* HELPERS */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.display-none{
    display: none;
}


/* ICONS */
.icon {
    width: 2.56rem;
    height: 2.8rem;
}

.editor.row-3 {
    display: flex;
    flex-direction: column;
}

.menu-toggle-btn {
    display: none;
}
.main-screen {
    position: fixed;
    inset: 0;
    background-color: #000;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;

    opacity: 0;

    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 650px) {
    .meme-editor {
        height: 22.125rem;
        background-color: var(--clr1);
        border-radius: 4.3125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .main-header .main-nav a {
        color: var(--clr3);
        font-size: 1.3125rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    /* .main-header .main-nav a {
        display: block;
        text-align: center;
        padding: 13px 10px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;

        transition: background-color .6s;
    } */
    .logo-img {
        width: 28%;
    }
    .main-edit-container{
        padding-top: 10px;
    }
    .canvas-container{
        height: 500px;
    }

    .menu-toggle-btn {
        display:inline;
    }
    .gallery-header-1{
        flex-direction: column-reverse;
        padding-bottom: 2rem;
    }

    body{
        padding: 5px;
    }
    .main-nav ul {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        top: 0;
        right: 0;
        flex-direction: column-reverse;
        height: 100vh;

        min-width: 200px;
        background: #282a2ab2;
        border-inline-start: 1px solid #4b4b4c;
        transition: max-height 0.6s, box-shadow 0.6s;

        transform: translatex(100%);
        transition: transform .6s;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
    }

    .main-header .main-nav li:hover {
        color: var(--clr1);
        background: #1e1e1ef7;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 var(--clr1);
    }
    .main-header .main-nav a:hover {
        box-shadow: inset 0px -5px 0 #45dbca;
        color: #45dbca;
    }

    .main-header .main-nav li {
        padding: 2rem 0;
        border-bottom: 1.5px solid rgb(27, 25, 25);
        width: 100%;
        text-align: center;
    }
    
    .menu-toggle-btn {
        background-color: inherit;
        border: none;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }
}

@media (max-width: 530px) {
    .canvas-container{
        height: 400px;
    }
    .main-edit-container{
        grid-template-columns: repeat(auto-fit, minmax(475px,1fr));
    }
}

@media (max-width: 480px) {
    .meme-editor {
        width: 21rem;
        height: 25.125rem;
    }
    .canvas-container{
        height: 350px;
    }
    .main-edit-container{
        grid-template-columns: repeat(auto-fit, minmax(435px,1fr));
    }
    .btn{
        margin: 2px;
    }
    .row-5 {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }
}

@media (max-width: 400px) {
    html{
        font-size: 10px;
    }
    body{
        background-color: #969aea;
        margin-left: 0;
    }
    .gallery-header-2 .gallery-nav a{
        padding: 0.8rem;
        min-width: 0;
    }
    .gallery-serch-input{
        margin-top: -2rem;
    }
    .meme-editor {
        width: 28rem;
        height: 29.125rem;
    }
    .main-edit-container {
        grid-template-columns: repeat(auto-fit, minmax(374px,1fr));
    }
    .canvas-container {
        height: 280px;
    }
    .share-button{
        padding: 5px 10px; 
    }
    .download-button{
        padding: 5px 10px;
    }
}